<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boomer-Control</title>
    <link rel="stylesheet" href="/static/boomer.css">
    <link rel="stylesheet" href="/static/number-picker-2.css">
</head>
  <body>
    <div class="container">
      {{ generated_header }}
      <div class="nav">
      </div>
      <div class="section">
          <div class="center-choices">
            <!-- <form> -->
            <div class="stepper">
              <label for="level">Level:</label>
              <button>–</button>
              <input type="number" id="level-stepper" name="level" value="3" min="2" max="7" step="0.5" readonly>
              <button>+</button>
            </div>
            <div class="stepper">
              <label for="speed">Speed:</label>
              <button>–</button>
              <input type="number" id="speed-stepper" name="speed" value="100" min="80" max="120" step="2" readonly>
              <button>+</button>
            </div>
            <!-- </form> -->
          </div>
          <div class="start-stop">
            <button type="submit" onclick="window.location.href='/back';">
              <img src="/static/stop.png" style="height:300px;"">
            </button>
          </div>
      </div>
    </div>
    <div>
      {{ generated_footer }}
    </div>
    <script src="/static/number-picker-2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on('connect', function() {
        socket.emit('message', 'Connected!');
      });
    </script>
  </body>
</html>
