<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boomer-Control</title>
    <link rel="stylesheet" href="/static/boomer.css">
    <link rel="stylesheet" href="/static/sample.css">
</head>
  <body>
    <div class="container">
      {{ generated_header }}
      <div class="nav">
      </div>
      <div class="section">
          <div class="center-choices">
            <label for="level">Level:</label>
            <input type="number" id="level" name="level" step="0.5" min="1.0" max="7.0" value="2.0">
          </div>
          <div class="start-stop">
            <button type="submit" onclick="window.location.href='/back';">
              <img src="/static/stop.png" style="height:300px;"">
            </button>
          </div>
      </div>
  </div>
      {{ generated_footer }}
    </div>
  </body>
</html>


