<!DOCTYPE html>
<html lang="en">
  <!-- refer to https://jinja.palletsprojects.com/en/3.0.x/templates/# for info on jinja templates -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boomer-Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boomer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/number-picker-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/radio-slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    {%- block page_specific_styles %} 
      {%- for line in page_specific_styles %}
        {{line}}
      {%- endfor %}
    {%- endblock %} 
    <script src="/static/js/socket.io.js" defer></script>
    <script src="/static/js/state_update.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-icon">
          {{ home_button }}
        </div>
        <div class="header-h1">
          <p>{{ page_title }}</p>
        </div>
        <div class="header-icon">
          <img src="{{ installation_icon }}" style="height:64px;" alt="Icon">
        </div>
      </div>     
      <div class="section">
        {{ message }}
        {%- block stats %} {%- endblock %} 
        {%- block selections %} {%- endblock %} 
        {%- block control %} {%- endblock %} 
      </div>
      <div class="footer"> 
        <div class="footer-left" id="base_state">Status: Idle</div>
        <div class="footer-center" id="mode">{{ footer_center }}</div>
        <div class="footer-right" id="company">© tennisrobot.com</div>
      </div>
    </div>
  </body>
  {%- block page_specific_js %} 
    {%- for line in page_specific_js %}
      {{line}}
    {%- endfor %}
  {%- endblock %} 
</html>