<!DOCTYPE html>
<html lang="en">
  <!-- refer to https://jinja.palletsprojects.com/en/3.0.x/templates/# for info on jinja templates -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boomer-Control</title>
    <link rel="stylesheet" href="/static/css/boomer.css">
    <link rel="stylesheet" href="/static/css/number-picker-2.css">
    <link rel="stylesheet" href="/static/css/radio-slider.css">
    <link rel="stylesheet" href="/static/css/tables.css">
    {%- block page_specific_styles %} 
      {%- for line in page_specific_styles %}
        {{line}}
      {%- endfor %}
    {%- endblock %} 
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-icon">
          {{ home_button }}
        </div>
        <div class="header-h1">
          <p>{{ installation_title }}</p>
        </div>
        <div class="header-icon">
          <img src="{{ installation_icon }}" style="height:64px;" alt="Icon">
        </div>
      </div>     
      <div class="section">
        {{ message }}
        {%- block stats %} {%- endblock %} 
        {%- block selections %} {%- endblock %} 
        {%- block control %} {%- endblock %} 
      </div>
      <div class="footer"> 
        <div class="footer-left" id="base_state">Status: Idle</div>
        <div class="footer-center" id="mode">{{ footer_center }}</div>
        <div class="footer-right" id="company">© tennisrobot.com</div>
      </div>
    </div>
  </body>
  
  <script src="/static/js/socket.io.js"></script>
  <script> var socket = io(); </script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var data_get_update = {};
    // pop takes the last element of an array/
    data_get_update["page"] = window.location.pathname.split("/").pop();
    // console.log("data_get_update=" + data_get_update);

    // console.log("Sending client_connected")
    socket.on('connect', function() {
      socket.emit('client_connected', JSON.stringify(data_get_update));
    });
  </script>  
  <script src="/static/js/state_update.js"></script>
  <script>
    var pollingVar = setInterval(pollingTimer, 350);
    function pollingTimer() {
      socket.emit("get_updates", JSON.stringify(data_get_update));
    }
    socket.onclose = function (event) {  
      console.log("socket onclose occurred; event.code: " + event.code);  
      if (event.code != 1000) {
        // Error code 1000 means that the connection was closed normally; Try to reconnect.
        if (!navigator.onLine) {
            alert("You are offline. Please connect to the Internet and try again.");
        }
      }
    }
  </script>
  {%- block page_specific_js %} 
    {%- for line in page_specific_js %}
      {{line}}
    {%- endfor %}
  {%- endblock %} 
</html>