<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Boomer-Control</title>
      <link rel="stylesheet" href="/static/css/boomer.css">
      <link rel="stylesheet" href="/static/css/number-picker-2.css">
      <link rel="stylesheet" href="/static/css/radio-slider.css">
      <link rel="stylesheet" href="/static/css/tables.css">  
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-icon">
          {{ home_button }}
        </div>
        <div class="header-h1">
          <p>{{ installation_title }}</p>
        </div>
        <div class="header-icon">
          <img src="{{ installation_icon }}" style="height:64px;">
        </div>
      </div>     
      <div class="section">
        {{ optional_form_begin }}
        {% block stats %} {% endblock %} 
        {% block selections %} {% endblock %} 
        {% block control %} {% endblock %} 
        {{ optional_form_end }}
      </div>
      <div class="footer"> 
        <div class="footer-left">{{ footer_left }}</div>
        <div class="footer-center">{{ footer_center }}</div>
        <div class="footer-right">© tennisrobot.com</div>
      </div>
    </div>
    <!--  if javascript was in header, then the javascripts didnt work.  Reconmendation is they should be here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="/static/js/number-picker-2.js"></script>
    {% block page_specific_js %} {% endblock %} 
  </body>
</html>