{% extends "layouts/base.html" %}

{% block selections %}
<div class="img-zoom-container">
  <div class="img-zoom-image">
    <img id="myimage" src="static/court.png" alt="Tennis Court" height="403" onload="init();">
  </div>
  <div id="myresult" class="img-zoom-result">
      <canvas id="zoom-canvas" width="400" height="400" ></canvas>
  </div>
  <div class="calibration_controls">
    <input type="button" value="&#x21A5" onclick="move_up()">
    <input type="button" value="&#x21A7" onclick="move_down()">
    <br>
    <input type="button" value="&#x21A4" onclick="move_left()">
    <input type="button" value="&#x21A6" onclick="move_right()">
  </div>
</div>

<style media="all">
.calibration_controls {
  display: inline-block;
  border: 1px solid #d4d4d4;
  vertical-align: top;
}
.calibration_controls input[type="button"] {
  width: 50px;
  font-size: 32px;
  color: white;
  background: #555555;
  padding: 1px;
  border: 2px solid #494949;
  display: inline-block;
}
/*
  * {box-sizing: border-box;}
*/
.img-zoom-container {
  position: relative;
  vertical-align: top;
}
.img-zoom-image {
  display: inline-block;
  border: 1px solid #d4d4d4;
  height: 403px;
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}
.img-zoom-result {
  display: inline-block;
  border: 1px solid #d4d4d4;
  width: 400px;
  height: 400px;
  cursor: None;
  /* cursor: crosshair; */
  /* cursor: url('static/cursor-close.png'), auto; */
}
</style>
{% endblock %}


{% block control %}

{% endblock %}

{% block page_specific_js %} 
<script>
  var canvas;
  var contxt;
  var x_px_selector;
  var y_px_selector;
  let move_px = 4;

  function init() {
    canvas = document.getElementById("zoom-canvas");
    contxt = canvas.getContext("2d");
    x_px_selector = canvas.width/2
    y_px_selector = canvas.height/2
    draw();
  }
  function draw() {
    contxt.clearRect(0, 0, canvas.width, canvas.height);
    contxt.beginPath();
    // x, y, radius, starting angle, ending angle
    contxt.arc(x_px_selector, y_px_selector, 5, 0, 2 * Math.PI);
    contxt.strokeStyle = "maroon";
    contxt.stroke();
  }
  function move_down() {
    if (y_px_selector < (canvas.height - move_px))
      y_px_selector += move_px;
    draw();
  }
  function move_up() {
    if (y_px_selector > move_px)
      y_px_selector -= move_px;
    draw();
  }
  function move_right() {
    if (x_px_selector < (canvas.width - move_px))
      x_px_selector += move_px;
    draw();
  }
    function move_left() {
    if (x_px_selector > move_px)
      x_px_selector -= move_px;
    draw();
  }
</script>
  
<script type="text/javascript">
function imageZoom(imgID, resultID) {
  var img, lens, result, cx, cy;
  img = document.getElementById(imgID);
  result = document.getElementById(resultID);
  /* Create lens: */
  lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");
  /* Insert lens: */
  img.parentElement.insertBefore(lens, img);
  /* Calculate the ratio between result DIV and lens: */
  cx = result.offsetWidth / lens.offsetWidth;
  cy = result.offsetHeight / lens.offsetHeight;
  /* Set background properties for the result DIV */
  result.style.backgroundImage = "url('" + img.src + "')";
  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
  /* Execute a function when someone moves the cursor over the image, or the lens: */
  lens.addEventListener("mousemove", moveLens);
  img.addEventListener("mousemove", moveLens);
  /* And also for touch screens: */
  lens.addEventListener("touchmove", moveLens);
  img.addEventListener("touchmove", moveLens);
  function moveLens(e) {
    var pos, x, y;
    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();
    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);
    /* Calculate the position of the lens: */
    x = pos.x - (lens.offsetWidth / 2);
    y = pos.y - (lens.offsetHeight / 2);
    /* Prevent the lens from being positioned outside the image: */
    if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
    if (x < 0) {x = 0;}
    if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
    if (y < 0) {y = 0;}
    /* Set the position of the lens: */
    lens.style.left = x + "px";
    lens.style.top = y + "px";
    /* Display what the lens "sees": */
    result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();
    /* Calculate the cursor's x and y coordinates, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}
</script>
<script>
  // Initiate zoom effect:
  imageZoom("myimage", "myresult");
</script>  

{% endblock %} 