{% extends "layouts/base.html" %}

{% block selections %}
<p> Camera position: distance from left singles sideline directly under the net to the center of the camera.</p>
<form method="post" action="{{ url_for('cam_calib') }}">
  <div class="selections-drill"> 
    <fieldset  class="radio-slider-buttons">
      <label>Camera: </label>
      <input type="radio" id="left" name="cam_id" value="l" checked>
      <label for="left" >Left</label><br>
      <input type="radio" id="right" name="cam_id" value="r">
      <label for="right">Right</label><br>
    </fieldset>
    <table>
      {% for key,item in options.items() %}
        {% if (item['start_div'] != null) %}<tr><td>{{item['start_div']}}</td>{% endif %}
        <td class="stepper">
          <label for="{{key}}">{{item['legend']}}:</label>
          <button type="button">–</button>
            <input type="number" id="{{key}}-stepper" name="{{key}}" value={{item['dflt']}} min={{item['min']}} max={{item['max']}} step={{item['step']}} readonly>
          <button type="button">+</button>
        </td>
        {% if (item['end_div'] == "Y") %}</tr>{% endif %}
      {% endfor %}
    </table>
  <button type="submit" value="Submit">
  </div>
</form>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #999999;
  }
</style>
{% endblock %} 