{% extends "layouts/base.html" %}

{% block selections %}
<div class="img-zoom-container">
  <div class="img_non_zoomed_class">
    <img id="img_non_zoomed" src="{{court_pic}}" alt="Image from camera is missing" height="400">
  </div>
  <div id="div_zoomed_8" class="div_zoomed_8_class">
    <canvas id="canvas_id_zoomed_8" width="256" height="256" ></canvas>
  </div>
  <div class="calibration_controls">
    <form id="court_coordinates" action="/cam_calib_done" method="post" onsubmit="return check_coords();">
      <div>
        <input type="button" value="&#x21A5" onclick="move_up()">
        <input type="button" value="&#x21A7" onclick="move_down()">
        <br>
        <input type="button" value="&#x21A4" onclick="move_left()">
        <input type="button" value="&#x21A6" onclick="move_right()">
        <input type="button" value="Set Intersection" onclick="set_point()">
        <br>
        <input type="submit" value="Fini" class="submit-button">
        <input type="hidden" id="fblx" name="fblx" value=0>
        <input type="hidden" id="fbly" name="fbly" value=0>
        <input type="hidden" id="fbrx" name="fbrx" value=0>
        <input type="hidden" id="fbry" name="fbry" value=0>
        <input type="hidden" id="nslx" name="nslx" value=0>
        <input type="hidden" id="nsly" name="nsly" value=0>
        <input type="hidden" id="nscx" name="nscx" value=0>
        <input type="hidden" id="nscy" name="nscy" value=0>
        <input type="hidden" id="nsrx" name="nsrx" value=0>
        <input type="hidden" id="nsry" name="nsry" value=0>
        <input type="hidden" id="nblx" name="nblx" value=0>
        <input type="hidden" id="nbly" name="nbly" value=0>
        <input type="hidden" id="nbrx" name="nbrx" value=0>
        <input type="hidden" id="nbry" name="nbry" value=0>
        <input type="hidden" id="cam_side" name="cam_side" value="{{cam_side}}">
        <p id="current_x_y">Current X: ___ Y: ___</p>
      </div>
    </form>
    <hr style="height:2px;margin-top:2px;margin-bottom:2px">
    <div>
      <p id="fbl_x_y">FBL X: ___ Y: ___</p>
      <p id="fbr_x_y">FBR X: ___ Y: ___</p>
      <p id="nsl_x_y">NSL X: ___ Y: ___</p>
      <p id="nsc_x_y">NSC X: ___ Y: ___</p>
      <p id="nsr_x_y">NSR X: ___ Y: ___</p>
      <p id="nbl_x_y">NBL X: ___ Y: ___</p>
      <p id="nbr_x_y">NBR X: ___ Y: ___</p>
      <hr style="height:2px;margin-block-start:0.1em;margin-block-end:0.1em">
      <p>Key: </p>
      <p>F=Far; N=Near</p>
      <p>B=Base Line; S=Service</p>
      <p>L=Left;R=Right;C=Center</p>
    </div>
    <!-- <div>
      <p id="fbl_x_y">Far Baseline Left   X: ___ Y: ___</p>
      <p id="fbr_x_y">Far Baseline Right  X: ___ Y: ___</p>
      <p id="nsl_x_y">Near Service Left   X: ___ Y: ___</p>
      <p id="nsc_x_y">Near Service Center X: ___ Y: ___</p>
      <p id="nsr_x_y">Near Service Right  X: ___ Y: ___</p>
      <p id="nbl_x_y">Near Baseline Left  X: ___ Y: ___</p>
      <p id="nbr_x_y">Near Baseline Right X: ___ Y: ___</p>
    </div> -->
  </div>
</div>

<style media="all">
.calibration_controls {
  display: inline-block;
  border: 1px solid #d4d4d4;
}
.calibration_controls p, label, input[type="number"] {
  font-size: 24px;
  color: white;
  background: #555555;
  padding: 1px;
  border: 2px solid #494949;
  margin-top: 0;
  margin-bottom: 0;
 }
 .calibration_controls input[type="button"] {
  width: 60px;
  font-size: 32px;
  color: white;
  background: #555555;
  padding: 1px;
  border: 2px solid #494949;
  display: inline-block;
}
/*
  * {box-sizing: border-box;}
*/
.img-zoom-container {
  position: relative;
  vertical-align: top;
}
.img_non_zoomed_class {
  display: inline-block;
  border: 1px solid #d4d4d4;
  height: 400px;
  vertical-align: top;
}
.lens_class {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border: 2px solid #702727;
  /*set the size of the lens:*/
  width: 16px;
  height: 16px;
}
.div_zoomed_8_class {
  vertical-align: top;
  display: inline-block;
  border: 1px solid #d4d4d4;
  width: 256px;
  height: 256px;
  cursor: None;
  image-rendering: pixelated;
  /* cursor: crosshair; */
  /* cursor: url('static/cursor-close.png'), auto; */
}
</style>
{% endblock %}


{% block control %}

{% endblock %}

{% block page_specific_js %} 
<script>
  // modified from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_image_zoom
  var zoomed8Div; //where the zoomed canvas is displayed; the canvas has the image zoomed as a background, plus a cursor
  var zoomed8Canvas;
  var zoomed8Context;
  var isLeftCam;
  var current_x_y_element;
  let move_px = 8; //move 1 pixel, which is 8 pixels on the zoomed image

  var img;
  var lensDiv; //this is the square drawn on the image to indicate the zoomed area
  var lensDivBorderTotalWidth;  //set in imageZoom(), used in moveLensByTouch() to not have the lens go outside the image

  var zoomRatio; //since zooming a square, the zoom ratio is the same for both x & y
  var backgroundMax = {};
  var background = {top: 0, left: 0};
  var centerOfZoomed = {x: 16, y: 16};

  var x_px, y_px;
 
  // initialize:
  window.addEventListener('load', (event) => {
    // console.log('The page has fully loaded');
    console.log('Version 7');
    imageZoom("img_non_zoomed", "div_zoomed_8");
    zoomed8Canvas = document.getElementById("canvas_id_zoomed_8");
    zoomed8Context = zoomed8Canvas.getContext("2d");
    let camSide = document.getElementById("cam_side").value;
    isLeftCam = (camSide === "left") ? true : false;
    // console.log("cam_side value=" + cam_side + "  isLeftCam=" + isLeftCam);
    current_x_y_element = document.getElementById('current_x_y');
    drawCursorInZoom8();
  });

  function imageZoom(sourceImageID, targetDivID) {
   img = document.getElementById(sourceImageID);
    // Create & insert lens
    lensDiv = document.createElement("DIV");
    // lens_class defines the pixel height/width of the lens
    lensDiv.setAttribute("class", "lens_class");
    lensDiv.id = "LENS"
    img.parentElement.insertBefore(lensDiv, img);

    lensDivStyle = getComputedStyle(lensDiv);
    lensDivBorderTotalWidth = (parseInt(lensDivStyle.borderLeftWidth) || 0) * 2;

    zoomed8Div = document.getElementById(targetDivID);
    zoomed8DivStyle = getComputedStyle(zoomed8Div);
    let zoomed8DivBorderTotalWidth = (parseInt(zoomed8DivStyle.borderLeftWidth) || 0) *2;
    // console.log("lensDivBorderTotalWidth: %d   zoomed8DivBorderTotalWidth: %d", lensDivBorderTotalWidth, zoomed8DivBorderTotalWidth);

    // zoomRatio is the ratio of the zoomed8Div and the lens
    zoomRatio = (zoomed8Div.offsetWidth - zoomed8DivBorderTotalWidth) / (lensDiv.offsetWidth - lensDivBorderTotalWidth);
    console.log("zoomed8Div.offsetWidth & Height: %d x %d   lensDiv.offsetWidth & Height: %d x %d",
      zoomed8Div.offsetWidth, zoomed8Div.offsetHeight, lensDiv.offsetWidth, lensDiv.offsetHeight);
    console.log("zoomRatio=%d", zoomRatio);

    /* Set background properties for the zoomed8Div */
    zoomed8Div.style.backgroundImage = "url('" + img.src + "')";
    // NOTE: the img.width and height is 1/2 the full size image, since the img height is set to 400 in the html
    zoomed8Div.style.backgroundSize = (img.width * zoomRatio) + "px " + (img.height * zoomRatio) + "px";
    console.log("img: width=%d height=%d zoomed8Div.backgroundSize=%s", img.width, img.height, zoomed8Div.style.backgroundSize);

    backgroundMax = {
      top: (img.height - lensDiv.offsetHeight + lensDivBorderTotalWidth),
      left: (img.width - lensDiv.offsetWidth + lensDivBorderTotalWidth)
    };
    console.log("backgroundMax top=%d left=%s", backgroundMax.top, backgroundMax.left);

    /* Execute a function when someone moves the cursor over the image: */
    lensDiv.addEventListener("mousedown", moveLensByTouch);
    img.addEventListener("mousedown", moveLensByTouch);
    /* And also for touch screens: */
    lensDiv.addEventListener("touchmove", moveLensByTouch);
    img.addEventListener("touchmove", moveLensByTouch);
  }

  // verify all 7 points have been set, called when SUBMIT (Fini) is hit for the form
  function check_coords() {
    // alert("check_coords called; fblx=" + document.getElementById("fblx").value + "typeof: " + typeof(document.getElementById("fblx").value));
    //only checking the X coordinate; if X is set, then Y should be set via the set_point script
    if (!(Number(document.getElementById("fblx").value) !== 0)) {
      alert("Please set Far Baseline Left point");
      return false;
    }
    if (!(Number(document.getElementById("fbrx").value) !== 0)) {
      alert("Please set Far Baseline Right point");
      return false;
    }
    if (!(Number(document.getElementById("nslx").value) !== 0)) {
      alert("Please set Near Service Line Left point");
      return false;
    }
    if (!(Number(document.getElementById("nscx").value) !== 0)) {
      alert("Please set Near Service Line Center point");
      return false;
    }
    if (!(Number(document.getElementById("nslx").value) !== 0)) {
      alert("Please set Near Service Line Right point");
      return false;
    }
    if (!(Number(document.getElementById("nblx").value) !== 0)) {
      alert("Please set Near Baseline Left point");
      return false;
    }
    if (!(Number(document.getElementById("nbrx").value) !== 0)) {
      alert("Please set Near Baseline Right point");
      return false;
    }
    return true;
  }

  function drawCursorInZoom8() {

    zoomed8Context.clearRect(0, 0, zoomed8Canvas.width, zoomed8Canvas.height);
    // zoomed8Context.beginPath();
    // // x, y, radius, starting angle, ending angle
    // zoomed8Context.arc((x_px_selector-3), (y_px_selector-3), 6, 0, 2 * Math.PI);
    // zoomed8Context.lineWidth = 3;
    // zoomed8Context.strokeStyle = "Chartreuse";
    // zoomed8Context.setLineDash([2]);
    // zoomed8Context.stroke();
    let len_half_line = 8;
    zoomed8Context.beginPath();
    // zoomed8Context.setLineDash([2]);

    /*
      with a square 'lens' of 256x256, and the cursor always being in the middle, then there is no 'x/y_px_selector'
      Instead the one can use center.x and center.y, where these are locals = 'zoomed8Canvas.width/2'
    */
    cursorPosition = {x: zoomed8Canvas.width/2, y: zoomed8Canvas.height/2}
    zoomed8Context.strokeStyle = "Chartreuse";
    zoomed8Context.lineWidth = 1;
    zoomed8Context.moveTo(cursorPosition.x-len_half_line, cursorPosition.y);
    zoomed8Context.lineTo(cursorPosition.x+len_half_line, cursorPosition.y);
    zoomed8Context.moveTo(cursorPosition.x, cursorPosition.y-len_half_line);
    zoomed8Context.lineTo(cursorPosition.x, cursorPosition.y+len_half_line);
    zoomed8Context.stroke();   

    zoomed8Context.beginPath();
    zoomed8Context.strokeStyle = "DarkGreen";
    zoomed8Context.lineWidth = 1;
    zoomed8Context.moveTo(cursorPosition.x-len_half_line, cursorPosition.y-len_half_line);
    zoomed8Context.lineTo(cursorPosition.x+len_half_line, cursorPosition.y+len_half_line);
    zoomed8Context.moveTo(cursorPosition.x-len_half_line, cursorPosition.y+len_half_line);
    zoomed8Context.lineTo(cursorPosition.x+len_half_line, cursorPosition.y-len_half_line);
    zoomed8Context.stroke();   
  }

  // cursor move functions
  function move_down() {
    background.top += 1;
    moveLensBoundaryCheck();
  }
  function move_up() {
    background.top -= 1;
    moveLensBoundaryCheck();
  }
  function move_right() {
    background.left += 1;
    moveLensBoundaryCheck();
  }
  function move_left() {
    background.left -= 1;
    moveLensBoundaryCheck();
  }

  function set_point() {
    /*
        the point's X/Y is equal to the center of the zoomed image
        This would be equal to background.top/left + zoomed8Canvas.width/2 since the zoomed image is square
    */
   
    // the following define x/y areas for the 7 coordinates: Near/Far(y) Baseline isLeftCam/Right (x), and ServiceLine
    // console.log("Value of isLeftCam on set_point: " + isLeftCam);
    var fb_y_max = 100;
    var fb_x_max = isLeftCam ? 500 : 1000;
    var ns_y_min = 220;
    var ns_y_max = isLeftCam ? 425 : 375;
    var nsl_x_max = isLeftCam ? 440 : 520;
    var nsc_x_max = isLeftCam ? 730 : 800;
    var nb_x_max = 500;

    console.log("background left=%d top=%d  centerOfZoomed x=%d y=%d  canvas.width=%d", 
      background.left, background.top, centerOfZoomed.x, centerOfZoomed.y, zoomed8Canvas.width);
    if (y_px < fb_y_max) {
      // set far base line left or right
      if (x_px < fb_x_max) {
        var fbl_x_y = document.getElementById('fbl_x_y');
        fbl_x_y.innerText = `FBL: X: ${x_px} Y: ${y_px}`;
        document.getElementById("fblx").value = x_px;
        document.getElementById("fbly").value = y_px;
      } else {
        var fbr_x_y = document.getElementById('fbr_x_y');
        fbr_x_y.innerText = `FBR: X: ${x_px} Y: ${y_px}`;
        document.getElementById("fbrx").value = x_px;
        document.getElementById("fbry").value = y_px;
      }
    } else if (y_px > ns_y_min && y_px < ns_y_max) {
      // set far near service line left, center or right
      if (x_px < nsl_x_max) {
        var nsl_x_y = document.getElementById('nsl_x_y');
        nsl_x_y.innerText = `NSL: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nslx").value = x_px;
        document.getElementById("nsly").value = y_px;
      } else if (x_px > nsl_x_max && x_px < nsc_x_max) {
        var nsc_x_y = document.getElementById('nsc_x_y');
        nsc_x_y.innerText = `NSC: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nscx").value = x_px;
        document.getElementById("nscy").value = y_px;
      } else {
        var nsr_x_y = document.getElementById('nsr_x_y');
        nsr_x_y.innerText = `NSR: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nsrx").value = x_px;
        document.getElementById("nsry").value = y_px;
      }
    } else if (y_px > ns_y_max) {
      // set near base line left or right
      if (x_px < nb_x_max) {
        var nbl_x_y = document.getElementById('nbl_x_y');
        nbl_x_y.innerText = `NBL: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nblx").value = x_px;
        document.getElementById("nbly").value = y_px;
      } else {
        var nbr_x_y = document.getElementById('nbr_x_y');
        nbr_x_y.innerText = `NBR: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nbrx").value = x_px;
        document.getElementById("nbry").value = y_px;
      }
    } else {
      console.log("y_px: %d is out of bounds", y_px)
    }
  }

  // zoomed image (lens) displays the rectangle that has been touched
  function moveLensByTouch(e) {
    var pos, x, y;
    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();
    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);
    console.log("touch cursor x=%d  y=%d", pos.x, pos.y);

    /* Calculate the top & left of the lens - placing the cursor at the center of the lens
       x -> horizontal left to right, e.g. Width.
      img.width & height do NOT include the border
      lensDiv.offsetHeight & Width DO include the border
    */
    background.top = pos.y - (lensDiv.offsetWidth/2);
    background.left = pos.x - (lensDiv.offsetHeight/2);
    //NEW: multiply pos.x/y by 2:
    // background.top = (2*pos.y) - (lensDiv.offsetWidth);
    // background.left = (2*pos.x) - (lensDiv.offsetHeight);
    moveLensBoundaryCheck();
  }

  function moveLensBoundaryCheck() {
    lens_top = background.top + lensDivBorderTotalWidth/2;
    lens_left = background.left + lensDivBorderTotalWidth/2;

    /* Prevent the lens from being positioned outside the image:  (BUT: OK to have lens border outside the image
       on the zero sides, allow the lens to overlap the image border - hence limit to -1
       on the other side, have the lens be inside the img.height/widht - the lens size not including the border
    */
    if (background.top < 0) {
      background.top = 0;
      lens_top = -1;
    }
    if (background.top > backgroundMax.top) {
      background.top = background_top_limit;
      lens_top = background.top + 1;
    }
    if (background.left < 0) {
      background.left = 0;
      lens_left = -1;
    }
    if (background.left > backgroundMax.left) {
      background.left = backgroundMax.left;
      lens_left = background.left + 1;
    }

    console.log("background left=%d  top=%d    lens left: %d  top: %d", background.left, background.top, lens_left, lens_top);

    /* Set the position of the lens: */
    lensDiv.style.left = lens_left + "px";
    lensDiv.style.top = lens_top + "px";
    // Display what the lens "sees" by positioning the image position in the background of the DIV
    console.log("previous background position=%s", zoomed8Div.style.backgroundPosition);
    var backgroundCoords = {x: 0, y:0};
    //!! In order to move 1 pixel at time, the zoomRatio needs to be halved (and background.x/y doubled) but that messes things up.
    backgroundCoords.x = (background.left * (zoomRatio/1));
    backgroundCoords.y = (background.top * (zoomRatio/1 ));
    zoomed8Div.style.backgroundPosition = "-" + backgroundCoords.x + "px -" + backgroundCoords.y + "px";
    console.log(" updated background position=%s", zoomed8Div.style.backgroundPosition);

    // the 1280x800 image is displayed at 640x400, so double the left/top to get the pixel on the real image
    // The divide by 16 is to get 1/2 the width/height, and then divide by 8, which is the amount the image is zoomed
    //NEW: removed multiplying the background.left/top by 2:
    centerOfZoomed.x = (background.left*2) + (zoomed8Canvas.width/16);
    centerOfZoomed.y = (background.top*2) + (zoomed8Canvas.height/16);
    current_x_y_element.innerText = `Current X: ${centerOfZoomed.x} Y: ${centerOfZoomed.y}`;
  }

  // get the rectangle that's been touched coordinates
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();
    /* Calculate the cursor's x and y current_x_y, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
</script>
{% endblock %} 