{% extends "layouts/base.html" %}

{%- block selections %}
<p class="para-nomargin">Measure 'A' from camera plumb bob to the left doubles corner.<br>'B' is from camera plumb bob to the right doubles corner.</p>
<form method="post" action="{{ url_for('cam_calib') }}">
  <div> 
<!-- 
    <fieldset  class="radio-slider-buttons">
      <label>Camera: </label>
      <input type="radio" id="left" name="cam_id" value="l" checked>
      <label for="left" >Left</label><br>
      <input type="radio" id="right" name="cam_id" value="r">
      <label for="right">Right</label><br>
    </fieldset>
     -->
    <table>
        <colgroup>
        <col span="1" style="width: 130px;">
        <col span="3" style="width: 360px;">
      </colgroup>
      <tr><td></td><td>Feet</td><td>Inches</td><td>Quarters</td></tr>
      {% for key,item in options.items() %}
        {%- if (item['start_div'] != null) %}<tr><td>{{item['start_div']}}</td>{% endif %}
        <td class="stepper">
          <!-- <label for="{{key}}">{{item['legend']}}:</label> -->
          <button type="button">–</button>
            <input type="number" id="{{key}}-stepper" name="{{key}}" value={{item['dflt']}} min={{item['min']}} max={{item['max']}} step={{item['step']}} readonly>
          <button type="button">+</button>
        </td>
        {%- if (item['end_div'] == "Y") %}</tr>{%- endif %}
      {%- endfor %}
    </table>
  <button type="submit" class="submit-button">Submit</button>
  </div>
</form>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    /* width:1240px */
  }
  td, th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #999999;
  }
</style>
{% endblock %}

{% block page_specific_js %} 
<script src="/static/js/number-picker-2.js"></script>
{% endblock %} 