{% extends "layouts/base.html" %}

{%- block selections %}
<script src="/static/js/cam_calib.js" defer></script>

<div class="img-zoom-container">
  <div id="div_not_zoomed" class="div_not_zoomed_class">
    <canvas id="canvas_not_zoomed"></canvas>
  </div>
  <div style="width:220px; display: inline-block;">
    <form method="post" action="{{ url_for('blueprint_camera.cam_verif') }}">
      <input type="hidden" name="image_path" id="image_path" value="{{image_path}}">
      <button type="submit" class="submit-button">Other Side</button>
    </form>
    <button type="button" class="submit-button" onclick="refreshImage('even')">Reload Even</button>
    <button type="button" class="submit-button" onclick="refreshImage('odd')">Reload Odd</button>
    <button type="submit" onclick="window.location.href='/';" class="submit-button">Done</button>
    {%- for coord, value in court_point_coords.items() %}
    <input type="hidden" id="{{coord}}X" name="{{coord}}X" value={{value[0]}}>
    <input type="hidden" id="{{coord}}Y" name="{{coord}}Y" value={{value[1]}}>
    {%- endfor %}
  </div>
</div>
{%- endblock %}