{% extends "layouts/base.html" %}

{% block selections %}
<div class="img-zoom-container">
  <div class="img_non_zoomed_class">
    <img id="img_non_zoomed" src="{{court_pic}}" alt="Image from camera is missing" height="400">
  </div>
  <div id="div_zoomed_8" class="div_zoomed_8_class">
    <canvas id="canvas_id_zoomed_8" width="256" height="256" ></canvas>
  </div>
  <div class="calibration_controls">
    <form id="court_coordinates" action="/cam_calib_done" method="post" onsubmit="return check_coords();">
      <div>
        <input type="button" value="&#x21A5" onclick="move_up()">
        <input type="button" value="&#x21A7" onclick="move_down()">
        <br>
        <input type="button" value="&#x21A4" onclick="move_left()">
        <input type="button" value="&#x21A6" onclick="move_right()">
        <input type="button" value="Set Intersection" onclick="set_point()">
        <br>
        <input type="submit" value="Fini" class="submit-button">
        <input type="hidden" id="fblx" name="fblx" value=0>
        <input type="hidden" id="fbly" name="fbly" value=0>
        <input type="hidden" id="fbrx" name="fbrx" value=0>
        <input type="hidden" id="fbry" name="fbry" value=0>
        <input type="hidden" id="nslx" name="nslx" value=0>
        <input type="hidden" id="nsly" name="nsly" value=0>
        <input type="hidden" id="nscx" name="nscx" value=0>
        <input type="hidden" id="nscy" name="nscy" value=0>
        <input type="hidden" id="nsrx" name="nsrx" value=0>
        <input type="hidden" id="nsry" name="nsry" value=0>
        <input type="hidden" id="nblx" name="nblx" value=0>
        <input type="hidden" id="nbly" name="nbly" value=0>
        <input type="hidden" id="nbrx" name="nbrx" value=0>
        <input type="hidden" id="nbry" name="nbry" value=0>
        <input type="hidden" id="cam_side" name="cam_side" value="{{cam_side}}">
        <p id="current_x_y">Current X: ___ Y: ___</p>
      </div>
    </form>
    <hr style="height:2px;margin-top:2px;margin-bottom:2px">
    <div>
      <p id="fbl_x_y">FBL X: ___ Y: ___</p>
      <p id="fbr_x_y">FBR X: ___ Y: ___</p>
      <p id="nsl_x_y">NSL X: ___ Y: ___</p>
      <p id="nsc_x_y">NSC X: ___ Y: ___</p>
      <p id="nsr_x_y">NSR X: ___ Y: ___</p>
      <p id="nbl_x_y">NBL X: ___ Y: ___</p>
      <p id="nbr_x_y">NBR X: ___ Y: ___</p>
      <hr style="height:2px;margin-block-start:0.1em;margin-block-end:0.1em">
      <p>Key: </p>
      <p>F=Far; N=Near</p>
      <p>B=Base Line; S=Service</p>
      <p>L=Left;R=Right;C=Center</p>
    </div>
    <!-- <div>
      <p id="fbl_x_y">Far Baseline Left   X: ___ Y: ___</p>
      <p id="fbr_x_y">Far Baseline Right  X: ___ Y: ___</p>
      <p id="nsl_x_y">Near Service Left   X: ___ Y: ___</p>
      <p id="nsc_x_y">Near Service Center X: ___ Y: ___</p>
      <p id="nsr_x_y">Near Service Right  X: ___ Y: ___</p>
      <p id="nbl_x_y">Near Baseline Left  X: ___ Y: ___</p>
      <p id="nbr_x_y">Near Baseline Right X: ___ Y: ___</p>
    </div> -->
  </div>
</div>

<style media="all">
.calibration_controls {
  display: inline-block;
  border: 1px solid #d4d4d4;
}
.calibration_controls p, label, input[type="number"] {
  font-size: 24px;
  color: white;
  background: #555555;
  padding: 1px;
  border: 2px solid #494949;
  margin-top: 0;
  margin-bottom: 0;
 }
 .calibration_controls input[type="button"] {
  width: 60px;
  font-size: 32px;
  color: white;
  background: #555555;
  padding: 1px;
  border: 2px solid #494949;
  display: inline-block;
}
/*
  * {box-sizing: border-box;}
*/
.img-zoom-container {
  position: relative;
  vertical-align: top;
}
.img_non_zoomed_class {
  display: inline-block;
  border: 1px solid #d4d4d4;
  height: 400px;
  vertical-align: top;
}
.lens_class {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border: 2px solid #702727;
  /*set the size of the lens:*/
  width: 16px;
  height: 16px;
}
.div_zoomed_8_class {
  vertical-align: top;
  display: inline-block;
  border: 1px solid #d4d4d4;
  width: 256px;
  height: 256px;
  cursor: None;
  image-rendering: pixelated;
  /* cursor: crosshair; */
  /* cursor: url('static/cursor-close.png'), auto; */
}
</style>
{% endblock %}


{% block control %}

{% endblock %}

{% block page_specific_js %} 
<script>
  // modified from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_image_zoom
  var canvas_zoomed_8;
  var contxt_zoomed_8;
  var x_px_selector, y_px_selector;
  var x_px, y_px;
  let move_px = 8;
  var background_top, background_left;
  var coords = {};
  var left;
  var img, lens, result, cx, cy;
  var lens_borderTotal;

  // initialize:
  window.addEventListener('load', (event) => {
    // console.log('The page has fully loaded');
    imageZoom("img_non_zoomed", "div_zoomed_8");
    canvas_zoomed_8 = document.getElementById("canvas_id_zoomed_8");
    contxt_zoomed_8 = canvas_zoomed_8.getContext("2d");
    background_top = background_left = 0;
    x_px_selector = canvas_zoomed_8.width/2;
    y_px_selector = canvas_zoomed_8.height/2;
    var cam_side = document.getElementById("cam_side").value;
    left = (cam_side === "left") ? true : false;
    // console.log("cam_side value=" + cam_side + "  left=" + left);
    draw();
  });

  function imageZoom(imgID, resultID) {
    img = document.getElementById(imgID);
    // Create lens & insert lens: */
    lens = document.createElement("DIV");
    // lens_class defines the pixel height/width of the lens
    lens.setAttribute("class", "lens_class");
    lens.id = "LENS"
    img.parentElement.insertBefore(lens, img);

    /* Calculate the ratio between result DIV and lens: */
    lens_style = getComputedStyle(lens);
    lens_borderTotal = (parseInt(lens_style.borderLeftWidth) || 0) * 2;

    result = document.getElementById(resultID);
    result_style = getComputedStyle(result);
    let result_borderTotal = (parseInt(result_style.borderLeftWidth) || 0) *2;
    // cx/cy is the ratio of the result DIV and the lens
    cx = (result.offsetWidth - result_borderTotal) / (lens.offsetWidth - lens_borderTotal);
    cy = (result.offsetHeight - result_borderTotal) / (lens.offsetHeight - lens_borderTotal);
    // console.log("result.offsetWidth & Height: %d x %d   lens.offsetWidth & Height: %d x %d", result.offsetWidth, result.offsetHeight, lens.offsetWidth, lens.offsetHeight);
    // console.log("lens_borderTotal: %d   result_borderTotal: %d  cx: %d  cy: %d", lens_borderTotal, result_borderTotal, cx, cy);

    /* Set background properties for the result DIV */
    result.style.backgroundImage = "url('" + img.src + "')";
    result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
    // console.log("img.width-%d result.backgroundSize=%s", img.width, result.style.backgroundSize);
    /* Execute a function when someone moves the cursor over the image: */
    lens.addEventListener("mousedown", moveLens);
    img.addEventListener("mousedown", moveLens);
    /* And also for touch screens: */
    lens.addEventListener("touchmove", moveLens);
    img.addEventListener("touchmove", moveLens);
  }

  // verify all 7 points have been set, called when SUBMIT (Fini) is hit for the form
  function check_coords() {
    // alert("check_coords called; fblx=" + document.getElementById("fblx").value + "typeof: " + typeof(document.getElementById("fblx").value));
    //only checking the X coordinate; if X is set, then Y should be set via the set_point script
    if (!(Number(document.getElementById("fblx").value) !== 0)) {
      alert("Please set Far Baseline Left point");
      return false;
    }
    if (!(Number(document.getElementById("fbrx").value) !== 0)) {
      alert("Please set Far Baseline Right point");
      return false;
    }
    if (!(Number(document.getElementById("nslx").value) !== 0)) {
      alert("Please set Near Service Line Left point");
      return false;
    }
    if (!(Number(document.getElementById("nscx").value) !== 0)) {
      alert("Please set Near Service Line Center point");
      return false;
    }
    if (!(Number(document.getElementById("nslx").value) !== 0)) {
      alert("Please set Near Service Line Right point");
      return false;
    }
    if (!(Number(document.getElementById("nblx").value) !== 0)) {
      alert("Please set Near Baseline Left point");
      return false;
    }
    if (!(Number(document.getElementById("nbrx").value) !== 0)) {
      alert("Please set Near Baseline Right point");
      return false;
    }
    return true;
  }

  function draw() {
    contxt_zoomed_8.clearRect(0, 0, canvas_zoomed_8.width, canvas_zoomed_8.height);
    // contxt_zoomed_8.beginPath();
    // // x, y, radius, starting angle, ending angle
    // contxt_zoomed_8.arc((x_px_selector-3), (y_px_selector-3), 6, 0, 2 * Math.PI);
    // contxt_zoomed_8.lineWidth = 3;
    // contxt_zoomed_8.strokeStyle = "Chartreuse";
    // contxt_zoomed_8.setLineDash([2]);
    // contxt_zoomed_8.stroke();
    let len_half_line = 8;
    contxt_zoomed_8.beginPath();
  // contxt_zoomed_8.setLineDash([2]);
    contxt_zoomed_8.strokeStyle = "Chartreuse";
    contxt_zoomed_8.lineWidth = 1;
    contxt_zoomed_8.moveTo(x_px_selector-len_half_line, y_px_selector);
    contxt_zoomed_8.lineTo(x_px_selector+len_half_line, y_px_selector);
    contxt_zoomed_8.moveTo(x_px_selector, y_px_selector-len_half_line);
    contxt_zoomed_8.lineTo(x_px_selector, y_px_selector+len_half_line);
    contxt_zoomed_8.stroke();   

    contxt_zoomed_8.beginPath();
    contxt_zoomed_8.strokeStyle = "DarkGreen";
    contxt_zoomed_8.lineWidth = 1;
    contxt_zoomed_8.moveTo(x_px_selector-len_half_line, y_px_selector-len_half_line);
    contxt_zoomed_8.lineTo(x_px_selector+len_half_line, y_px_selector+len_half_line);
    contxt_zoomed_8.moveTo(x_px_selector-len_half_line, y_px_selector+len_half_line);
    contxt_zoomed_8.lineTo(x_px_selector+len_half_line, y_px_selector-len_half_line);
    contxt_zoomed_8.stroke();   

    // the 1280x800 image is displayed at 640x400, so double the left/top to get the pixel on the real image
    // console.log("background left: %d  top: %d", background_left, background_top); 
    x_px = (background_left*2) + (x_px_selector/move_px - 1);
    y_px = (background_top *2) + (y_px_selector/move_px -1);
    var current_x_y = document.getElementById('current_x_y');
    current_x_y.innerText = `Current X: ${x_px} Y: ${y_px}`;
  }

  // cursor move functions
  function move_down() {
    // if (y_px_selector < (canvas_zoomed_8.height - move_px))
    //   y_px_selector += move_px;
    background_top += 1;
    result.style.backgroundPosition = "-" + (background_left * cx) + "px -" + (background_top * cy) + "px";
    // draw();
  }
  function move_up() {
    if (y_px_selector > move_px)
      y_px_selector -= move_px;
    draw();
  }
  function move_right() {
    if (x_px_selector < (canvas_zoomed_8.width - move_px))
      x_px_selector += move_px;
    draw();
  }
  function move_left() {
    if (x_px_selector > move_px)
      x_px_selector -= move_px;
    draw();
  }
  function set_point() {
    // the following define x/y areas for the 7 coordinates: Near/Far(y) Baseline Left/Right (x), and ServiceLine
    // console.log("Value of left on set_point: " + left);
    var fb_y_max = 100;
    var fb_x_max = left ? 500 : 1000;
    var ns_y_min = 220;
    var ns_y_max = left ? 425 : 375;
    var nsl_x_max = left ? 440 : 520;
    var nsc_x_max = left ? 730 : 800;
    var nb_x_max = 500;

    // console.log("x_px=" + x_px + "y_px=" + y_px);
    if (y_px < fb_y_max) {
      // set far base line left or right
      if (x_px < fb_x_max) {
        coords["fblx"] = x_px; coords["fbly"] = y_px;
        var fbl_x_y = document.getElementById('fbl_x_y');
        fbl_x_y.innerText = `FBL: X: ${x_px} Y: ${y_px}`;
        document.getElementById("fblx").value = x_px;
        document.getElementById("fbly").value = y_px;
      } else {
        coords["fbrx"] = x_px; coords["fbry"] = y_px;
        var fbr_x_y = document.getElementById('fbr_x_y');
        fbr_x_y.innerText = `FBR: X: ${x_px} Y: ${y_px}`;
        document.getElementById("fbrx").value = x_px;
        document.getElementById("fbry").value = y_px;
      }
    } else if (y_px > ns_y_min && y_px < ns_y_max) {
      // set far near service line left, center or right
      if (x_px < nsl_x_max) {
        coords["nslx"] = x_px; coords["nsly"] = y_px;
        var nsl_x_y = document.getElementById('nsl_x_y');
        nsl_x_y.innerText = `NSL: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nslx").value = x_px;
        document.getElementById("nsly").value = y_px;
      } else if (x_px > nsl_x_max && x_px < nsc_x_max) {
        coords["nscx"] = x_px; coords["nscy"] = y_px;
        var nsc_x_y = document.getElementById('nsc_x_y');
        nsc_x_y.innerText = `NSC: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nscx").value = x_px;
        document.getElementById("nscy").value = y_px;
      } else {
        coords["nsrx"] = x_px; coords["nsry"] = y_px;
        var nsr_x_y = document.getElementById('nsr_x_y');
        nsr_x_y.innerText = `NSR: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nsrx").value = x_px;
        document.getElementById("nsry").value = y_px;
      }
    } else if (y_px > ns_y_max) {
      // set near base line left or right
      if (x_px < nb_x_max) {
        coords["nblx"] = x_px; coords["nbly"] = y_px;
        var nbl_x_y = document.getElementById('nbl_x_y');
        nbl_x_y.innerText = `NBL: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nblx").value = x_px;
        document.getElementById("nbly").value = y_px;
      } else {
        coords["nbrx"] = x_px; coords["nbry"] = y_px;
        var nbr_x_y = document.getElementById('nbr_x_y');
        nbr_x_y.innerText = `NBR: X: ${x_px} Y: ${y_px}`;
        document.getElementById("nbrx").value = x_px;
        document.getElementById("nbry").value = y_px;
      }
    } else {
      console.log("y_px: %d is out of bounds", y_px)
    }
  }

  // zoomed image (lens) displays the rectangle that has been touched
  function moveLens(e) {
    var pos, x, y;
    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();
    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);
    /* Calculate the top & left of the lens - placing the cursor at the center of the lens
       x -> horizontal left to right, e.g. Width.
      img.width & height do NOT include the border
      lens.offsetHeight & Width DO include the border
    */
    background_top = pos.y - (lens.offsetWidth/2);
    background_left = pos.x - (lens.offsetHeight/2);
    lens_top = background_top + lens_borderTotal/2;
    lens_left = background_left + lens_borderTotal/2;

    /* Prevent the background from being positioned outside the image */
    if (background_top < 0) {
      background_top = 0;
      lens_top = -1;
    }
    background_top_limit = img.height - lens.offsetHeight + lens_borderTotal;
    if (background_top > background_top_limit) {
      background_top = background_top_limit;
      lens_top = background_top + 1;
    }
    if (background_left < 0) {
      background_left = 0;
      lens_left = -1;
    }
    background_left_limit = img.width - lens.offsetWidth + lens_borderTotal;
    if (background_left > background_left_limit) {
      background_left = background_left_limit;
      lens_left = background_left + 1;
    }

    /* position the lens based on the background; add in the border
     */
    console.log("touch cursor x: %d  y: %d    backg left: %d  top: %d    lens left: %d  top: %d", pos.x, pos.y, background_left, background_top, lens_left, lens_top);
    /* Prevent the lens from being positioned outside the image:  (BUT: OK to have lens border outside the image
       on the zero sides, allow the lens to overlap the image border - hence limit to -1
       on the other side, have the lens be inside the img.height/widht - the lens size not including the border
    */
    // if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
    // if (x < 0) {x = 0;}
    // if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
    // if (y < 0) {y = 0;}
    // console.log("img.width: %d  img.height: %d   img.offsetWidth: %d  img.offsetHeight: %d", img.width, img.height, img.offsetWidth, img.offsetHeight);
    /* Set the position of the lens: */
    lens.style.left = lens_left + "px";
    lens.style.top = lens_top + "px";
    /* Display what the lens "sees": */
    // result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
    result.style.backgroundPosition = "-" + (background_left * cx) + "px -" + (background_top * cy) + "px";

    // reset the pixel selectors to the middle
    x_px_selector = canvas_zoomed_8.width/2
    y_px_selector = canvas_zoomed_8.height/2
    draw()
  }

  // get the rectangle that's been touched coordinates
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();
    /* Calculate the cursor's x and y current_x_y, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
</script>
{% endblock %} 