{% extends "layouts/base.html" %}

{% block stats %} 
<div class="statistics-display">
  <br>
</div>
{% endblock %}

{% block selections %}
<div class="selections">
  {% for key,item in options.items() %}
  <div class="stepper">
    <label for="{{key}}">{{item['legend']}}:</label>
    <button>–</button>
      <input type="number" id="{{key}}-stepper" name="{{key}}" value={{item['dflt']}} min={{item['min']}} max={{item['max']}} step={{item['step']}} readonly>
    <button>+</button>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block control %}
<div class="start-stop">
  <button type="button" id="pause-resume" class="pause-resume-button pause">
  </button>
  <button type="submit" onclick="window.location.href='{{ url_for('drill_select_type') }}';">
    <img src="/static/stop.png">
  </button>
</div>
{% endblock %}

{% block page_specific_js %} 
<script type="text/javascript" charset="utf-8"> var socket = io(); </script>
<script src="/static/js/pause_resume.js"></script>
<script type="text/javascript" charset="utf-8">
      var pollingVar = setInterval(pollingTimer, 1000);
      function pollingTimer() {
        socket.emit("test");
      }
</script>
{% endblock %} 