{% extends "layouts/base.html" %}

{%- block selections %}
<style>
   .save {
     height: var(--icon-button-size);
     width: var(--icon-button-size);
     position: absolute;
     top: 614px;
     right: 10px;
     /* left: 1148px; */
   }
   .btn-size {
      width: var(--icon-button-size);
      height: var(--icon-button-size);
      padding-block: 0;
      padding-inline: 0;
      border: none;
   }

</style>
   
<form action="/edit_drill_done?drill_id={{ request.args.get('drill_id') }}" method="post">
<div>
   <table style="font-size:0.8em" id="drill_table" class="Table">
      <p></p>
      <thead>
         <tr class="Heading">
            <th class="Cell">#</th>
            <th class="Cell">Type</th>
            <th class="Cell">Court</th>
            <th class="Cell">Ang</th>
            <th class="Cell">Delay</th>
            <th class="Cell">Scoring</th>
            <th class="Cell">Lvl</th>
            <th class="Cell">Speed</th>
            <th class="Cell">Loft</th>
            <th class="Cell">Spin Spd</th>
            <th class="Cell">Spin Type</th>
         </tr>
      </thead>
      <tbody>
         {%- for i in range(0, throw_list|length) %}
         <tr>
            <td class="Cell">{{i+1}}</td>
            {%- for column in throw_list[i] %}
            <td>
               <select name="{{i+1}}-{{loop.index}}">
                  {%- for choice in column %}
                     {%- for key, value in choice.items() %}
                     <option value="{{key}}" {%- if value == 1 %}selected{%- endif %}>{{key}}</option>
                     {%- endfor %}
                  {%- endfor %}
               </select>
            </td>
            {%- endfor %}
         </tr>
         {%- endfor %}
      </tbody>
   </table>
</div>
<div class="x-save">
   <input type="image" id="add_row" src="/static/add_row.png"/>
   <input type="image" name="submit" src="/static/save.png"/>
</div>
</form>
{%- endblock %} 

{%- block control %} 
{%- endblock %} 

{%- block page_specific_styles %} 
   <link rel="stylesheet" href="/static/css/tables.css">
{%- endblock %} 

{%- block page_specific_js %} 
   <script src="/static/js/edit_drill.js" defer></script>
{%- endblock %} 