{% extends "layouts/base.html" %}

{% block selections %}
<div class="selections-drill">
  <div id="placeHolder"> </div>
  <fieldset id="container" class="radio-text-buttons">
    {% for drill in drills %}
    <input type="radio" id="{{drill['id']}}" name="drill_id" value="{{drill['id']}}" 
      data-Type="{{drill['type']}}" data-Stroke="{{drill['stroke']}}" data-Difficulty="{{drill['difficulty']}}">
    <label for="{{drill['id']}}" data-Type="{{drill['type']}}" data-Stroke="{{drill['stroke']}}"
      data-Difficulty="{{drill['difficulty']}}">{{drill['name']}}</label>
    {% endfor %}
  </fieldset>
</div>

<!-- 
<div class="selections">
  <div id="placeHolder"> </div>
  <fieldset id="container" class="radio-text-buttons">
    <input type="radio" id="DRL001" name="drill_id" value="DRL001" data-Type="speed">
    <label for="DRL001" data-Type="speed">speed test</label>
    <input type="radio" id="DRL002" name="drill_id" value="DRL002" data-Type="groundstroke">
    <label for="DRL002" data-Type="groundstroke">2-line groundstroke footwork</label>
    <input type="radio" id="DRL003" name="drill_id" value="DRL003" data-Type="suicide">
    <label for="DRL003" data-Type="suicide">2-line suicide</label>
  </fieldset>
</div>
 -->

{% endblock %}

{% block control %}
  <div class="start-stop">
    <button type="submit">
      <img src="/static/start.png">
    </button>
  </div>
{% endblock %}

{% block page_specific_js %} 
<script src="/static/js/jquery-1.7.1.min.js"></script>
<!-- <script src="/static/js/filtrify.min.js"></script> -->
<script src="/static/js/b_filtrify.js"></script>
<!-- 
<script src="/static/js/highlight.pack.js"></script>
<script src="/static/js/script.js"></script>
 -->
<script type="text/javascript">
  $(function() {
    $.filtrify("container", "placeHolder");
  });
</script>    
<link rel="stylesheet" href="/static/css/b_filtrify.css">

{% endblock %} 