{% extends "layouts/base.html" %}

{% block selections %}
<div class="selections-drill">
  <div id="placeHolder"> </div>
  <fieldset id="container" class="radio-text-buttons">
    {% for drill in drills %}
    <input type="radio" id="{{drill['id']}}" name="drill_id" value="{{drill['id']}}" 
      data-Type="{{drill['type']}}" data-Stroke="{{drill['stroke']}}" data-Difficulty="{{drill['difficulty']}}">
    <label for="{{drill['id']}}" data-Type="{{drill['type']}}" data-Stroke="{{drill['stroke']}}"
      data-Difficulty="{{drill['difficulty']}}">{{drill['name']}}</label>
    {% endfor %}
  </fieldset>
</div>
{% endblock %}

{% block control %}
  <div class="start-stop">
    <button type="submit">
      <img src="/static/start.png">
    </button>
  </div>
{% endblock %}
