{% extends "layouts/base.html" %}

{% block selections %}
<div class="selections">
  <div class="stepper">
    <label for="level">Level:</label>
    <button>–</button>
      <input type="number" id="level-stepper" name="level" value="3" min="2" max="7" step="0.5" readonly>
    <button>+</button>
  </div>
  <div class="stepper">
    <label for="speed">Speed:</label>
    <button>–</button>
    <input type="number" id="speed-stepper" name="speed" value="100" min="80" max="120" step="2" readonly>
    <button>+</button>
  </div>
</div>
{% endblock %}

{% block control %}
<div class="start-stop">
  <button type="button" id="pause-resume" class="pause-resume-button pause">
  </button>
  <button type="submit" onclick="window.location.href='{{ url_for('drill_selection') }}';">
    <img src="/static/stop.png">
  </button>
</div>
{% endblock %}

{% block page_specific_js %} 
<script type="text/javascript" charset="utf-8"> var socket = io(); </script>
<script src="/static/pause_resume.js"></script>
<script type="text/javascript" charset="utf-8">
      var pollingVar = setInterval(pollingTimer, 1000);
      function pollingTimer() {
        socket.emit("test");
      }
</script>
{% endblock %} 