{% extends "layouts/base.html" %}

{% block stats %} 
<div class="statistics-display">
  <br>
</div>
{% endblock %}

{% block selections %}
<div class="selections">
  {% for key,item in stepper_options.items() %}
  <div class="stepper">
    <label for="{{key}}">{{item['legend']}}:</label>
    <button type="button">–</button>
      <input type="number" id="{{key}}-stepper" name="{{key}}" value={{item['dflt']}} min={{item['min']}} max={{item['max']}} step={{item['step']}} readonly>
    <button type="button">+</button>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block control %}
<div class="start-stop">
  <button type="button" id="pause-resume" class="pause-resume-button resume">
  </button>
  <button type="submit" onclick="window.location.href='{{ url_for('index') }}';">
    <img src="/static/stop.png">
  </button>
</div>
{% endblock %}

{% block page_specific_js %} 
<script src="/static/js/pause_resume.js"></script>
<script src="/static/js/number-picker-2.js"></script>
{% endblock %} 