{% extends "layouts/base.html" %}

{%- block selections %}
<style>
   .save {
     height: var(--icon-button-size);
     width: var(--icon-button-size);
     position: absolute;
     top: 614px;
     right: 10px;
     /* left: 1148px; */
   }
   .btn-size {
      width: var(--icon-button-size);
      height: var(--icon-button-size);
      padding-block: 0;
      padding-inline: 0;
      border: none;
   }
   #scrollBox {
      max-height: 515px; /* todo make this automatic */
      overflow-y: auto;
      border: 1px solid rgb(204, 204, 204);
      padding: 0px 10px;
      margin-top: 10px;
   }
   
   input {
      height: 90px;
   }
   
    .button-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
    }

   .btn {
      font-size: 30px;
      padding: 10px 19px;
      cursor: pointer;
      user-select: none;
      background-color: #555758;
      color: white;
      border: none;
      border-radius: 6px;
      height: 68px;
    }

   .btn:hover {
      background-color: #6a6c6d;
    }
    
   .imageButtonContainer {
      background: transparent;
      border: none;
      cursor: pointer;
    }
    
   .imageButtonContainer img {
      height: 75px;
      width: 75px;
   }
   
   

</style>
   
<form action="/edit_drill_done?drill_id={{ request.args.get('drill_id') }}" method="post">
<div id="scrollBox">
   <table style="font-size:0.8em" id="drill_table" class="Table">
      <thead>
         <tr class="Heading">
            <th class="Cell">#</th>
            <th class="Cell">Type</th>
            <th class="Cell">Court</th>
            <th class="Cell">Ang</th>
            <th class="Cell">Delay</th>
            <th class="Cell">Scoring</th>
            <th class="Cell">Lvl</th>
            <th class="Cell">Speed</th>
            <th class="Cell">Loft</th>
            <th class="Cell">Spin</th>
            <th class="Cell">Spin Type</th>
         </tr>
      </thead>
      <tbody>
         {%- for i in range(0, throw_list|length) %}
         <tr>
            <td class="Cell">{{i+1}}</td>
            {%- for column in throw_list[i] %}
            <td>
               <select name="{{i+1}}-{{loop.index}}">
                  {%- for choice in column %}
                     {%- for key, value in choice.items() %}
                     <option value="{{key}}" {%- if value == 1 %}selected{%- endif %}>{{key}}</option>
                     {%- endfor %}
                  {%- endfor %}
               </select>
            </td>
            {%- endfor %}
         </tr>
         {%- endfor %}
      </tbody>
   </table>
</div>
<div class="button-row">

   <button class="btn" type="button" onclick="changeValue(-1)">−</button>
   <button class="btn" type="button" onclick="changeValue(1)">+</button>
   <button class="btn" type="button" onclick="appendDigit('0')">0</button>
   <button class="btn" type="button" onclick="appendDigit('1')">1</button>
   <button class="btn" type="button" onclick="appendDigit('2')">2</button>
   <button class="btn" type="button" onclick="appendDigit('3')">3</button>
   <button class="btn" type="button" onclick="appendDigit('4')">4</button>
   <button class="btn" type="button" onclick="appendDigit('5')">5</button>
   <button class="btn" type="button" onclick="appendDigit('6')">6</button>
   <button class="btn" type="button" onclick="appendDigit('7')">7</button>
   <button class="btn" type="button" onclick="appendDigit('8')">8</button>
   <button class="btn" type="button" onclick="appendDigit('9')">9</button>
   <button class="btn" type="button" onclick="backspace()">⌫</button>
   <input type="image" class="imageButtonContainer" id="add_row" src="/static/add_row.png"/>
   <input type="image" class="imageButtonContainer" id="del_row" src="/static/del_row.png"/>
   <input type="image" class="imageButtonContainer" name="submit" src="/static/save.png"/>
   
</div>
</form>
{%- endblock %} 

{%- block control %} 
   {%- for column in throw_list[0] %}
   <p hidden id="column-{{loop.index}}">
         {%- for choice in column %}
            {%- for key, value in choice.items() %}
            <option value="{{key}}">{{key}}</option>
            {%- endfor %}
         {%- endfor %}
   </p>
   {%- endfor %}

{%- endblock %} 

{%- block page_specific_styles %} 
   <link rel="stylesheet" href="/static/css/tables.css">
{%- endblock %} 

{%- block page_specific_js %} 
   <script src="/static/js/edit_drill.js" defer></script>
{%- endblock %} 