{% extends "layouts/base.html" %}

{%- block selections %}
<style>
   .save {
     height: var(--icon-button-size);
     width: var(--icon-button-size);
     position: absolute;
     top: 614px;
     right: 10px;
     /* left: 1148px; */
   }
   .btn-size {
      width: var(--icon-button-size);
      height: var(--icon-button-size);
      padding-block: 0;
      padding-inline: 0;
      border: none;
   }

</style>
   
<div>
   <table style="font-size:0.8em" id="drill_table" class="Table">
      <p></p>
      <thead>
         <tr class="Heading">
            <th class="Cell">#</th>
            <th class="Cell">Type</th>
            <th class="Cell">Court</th>
            <th class="Cell">Ang</th>
            <th class="Cell">Delay</th>
            <th class="Cell">Scoring</th>
            <th class="Cell">Lvl</th>
            <th class="Cell">Speed</th>
            <th class="Cell">Loft</th>
            <th class="Cell">Spin Spd</th>
            <th class="Cell">Spin Type</th>
         </tr>
      </thead>
      <tbody>
         {% for i in range(0, number_of_rows) %}         <tr>
            <td class="Cell">{{i+1}}</td>
            {%- for column in throw_list[i] %}
            <td>
               <select>
                  {%- for option_name in column %}
                  <option value="{{option_name}}">{{option_name}}</option>
                  {%- endfor %}
               </select>
            </td>
            {%- endfor %}
         </tr>
         {%- endfor %}
      </tbody>
   </table>
</div>
{%- endblock %} 

{%- block control %} 
<div class="save">
   <button type="submit" name="Save" class="btn-size" onclick="window.location.href='/done';"><img src="/static/save.png"></button>
</div>
{%- endblock %} 

{%- block page_specific_styles %} 
   <link rel="stylesheet" href="/static/css/tables.css">
{%- endblock %} 

{%- block page_specific_js %} 
<!-- <script">
   document.getElementById("test").addEventListener("click", function (e) {
      socket.emit("fault_request");
      // console.log("emitted fault_request")
   }, false);
</script> -->
{%- endblock %} 