{% extends "layouts/base.html" %}

<!--  the minus sigh after the <% below keeps ninja2 from emitting a newline   -->
{% block selections %}
<div class="selections-drill">
  <div id="placeHolder"> </div>
  <fieldset id="container" class="radio-text-buttons">
    {%- for drill in drills %}
      {%- if filters|length > 0 %}
    <input type="radio" id="{{drill['id']}}" name="drill_id" value="{{drill['id']}}" 
      {% for filter in filters %}{{filter}}="{{drill['filter_values'][loop.index-1]}}"{% endfor %}>
    <label for="{{drill['id']}}" {% for filter in filters %}{{filter}}="{{drill['filter_values'][loop.index-1]}}"{% endfor %}
      >{{drill['name']}}</label>
      {%- else %}
    <input type="radio" id="{{drill['id']}}" name="drill_id" value="{{drill['id']}}">
    <label for="{{drill['id']}}">{{drill['name']}}</label>
      {%- endif %}
    {% endfor %}
  </fieldset>
</div>
{% endblock %}

{% block control %}
  <div class="start-stop">
    <button type="submit">
      <img src="/static/start.png">
    </button>
  </div>
{% endblock %}
