{% extends "layouts/base.html" %}

{% block selections %}
<!-- drills = { "001": {"name": "speed", "type":"movement", "lvl": "medium", "stroke": "forehand" } -->

<div class="selections-drill">
  <div id="placeHolder"> </div>
  <fieldset id="container" class="radio-text-buttons">
    {% for drill in drills %}
    <input type="radio" id="{{drill['id']}}" name="drill_id" value="{{drill['id']}}">
    <label for="{{drill['id']}}">{{drill['name']}}</label>
    {% endfor %}
  </fieldset>
</div>

{% endblock %}

{% block control %}
  <div class="start-stop">
    <button type="submit">
      <img src="/static/start.png">
    </button>
  </div>
{% endblock %}
