{% extends "layouts/base.html" %}

{% block selections %} 
<script type="text/javascript" charset="utf-8">
   document.addEventListener('DOMContentLoaded',() => {
      // console.log("faults onload")
      socket.emit("fault_request");
});
</script>

<table id="fault_table" class="Table">
   <caption class="Title">Boomer Problems</caption>
   <thead>
      <tr class="Heading">
         <th class="Cell">Problem</th>
         <th class="Cell">Where</th>
         <th class="Cell">When</th>
      </tr>
   </thead>
   <tbody>
   </tbody>
</table>
{% endblock %} 

{% block control %} 
<!-- <button type="button" id="test">Test</button> -->
{% endblock %} 

{% block page_specific_js %} 
<script type="text/javascript" charset="utf-8">
   document.getElementById("test").addEventListener("click", function (e) {
      socket.emit("fault_request");
      // console.log("emitted fault_request")
   }, false);
</script>

<script type="text/javascript" charset="utf-8">
   socket.on('faults_update', function(faults) {
      // console.log("received faults: " + faults)
      let table = document.getElementById("fault_table");
      // clear table before adding updated fault rows
      for (let i = (table.rows.length-1); i > 0; i--) { 
         // console.log("deleteRow: " + i)
         table.deleteRow(i);
      }
      for (let element of JSON.parse(faults)) {
         let row = table.insertRow();
         for (key in element) {
            let cell = row.insertCell();
            let text = document.createTextNode(element[key]);
            cell.appendChild(text);
            cell.className = 'Cell';
         }
      }
   });
</script>

{% endblock %} 
