{% extends "layouts/base.html" %}

{%- block selections %} 
<table style="font-size:0.8em" id="fault_table" class="Table">
   <!-- <caption class="Title">Boomer Problems</caption> -->
   <p></p>
   <thead>
      <tr class="Heading">
         <th class="Cell">Problem</th>
         <th class="Cell">Where</th>
         <th class="Cell">When</th>
      </tr>
   </thead>
   <tbody>
   </tbody>
</table>
{%- endblock %} 

{%- block control %} 
<!-- <button type="button" id="test">Test</button> -->
{%- endblock %} 

{%- block page_specific_styles %} 
   <link rel="stylesheet" href="/static/css/tables.css">
{%- endblock %} 

{%- block page_specific_js %} 
<!-- <script">
   document.getElementById("test").addEventListener("click", function (e) {
      socket.emit("fault_request");
      // console.log("emitted fault_request")
   }, false);
</script> -->
{%- endblock %} 