<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boomer-Control: game active</title>
    <link rel="stylesheet" href="/static/boomer.css">
    <link rel="stylesheet" href="/static/number-picker-2.css">
</head>
  <body>
    <div class="container">
      {{ generated_header }}
      <div class="section">
        <div class="statistics-display">
        </div>
        <div class="selections">
          <div class="stepper">
            <label for="level">Level:</label>
            <button type="button">–</button>
            <input type="number" id="level-stepper" name="level" value="3" min="2" max="7" step="0.5" readonly>
            <button type="button">+</button>
          </div>
        </div>
        <div class="start-stop">
          <button type="button" id="pause-resume" class="pause-resume-button pause">
            <!-- <img src="/static/pause.png" class="pause-resume-button pause"> -->
          </button>
          <button type="submit" onclick="window.location.href='/game_options';">
            <img src="/static/stop.png" style="height:90px;"">
          </button>
        </div>
      </div>
    </div>
    <div>
      {{ generated_footer }}
    </div>
    <!--  if javascript was in header, then the javascripts didnt work.  Reconmendation is they should be here -->
    <script src="/static/number-picker-2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on('score_update', function(data) {
        Object.keys(data).forEach(function(key) {
          console.log('Key : ' + key + ', Value : ' + data[key])
        })
      });

      document.getElementById("pause-resume").addEventListener("click", function (e) {
        var target = e.target;
        //the full classlist is: 
        //      {0: "pause-resume-button", 1: "resume", length: 2, value: "pause-resume-button resume", ...
        // console.log(document.getElementById("pause-resume").classList);
        // the following gets pause/resume before changing the icon
        var action = document.getElementById("pause-resume").classList.item(1);
        socket.emit(action);
        target.classList.toggle("pause");
        target.classList.toggle("resume");
      }, false);
      // socket.on('connect', function() {
      //   socket.emit('message', 'Connected!');
      // });
    </script>
  </body>
</html>
