{% extends "layouts/base.html" %}

{% block stats %} 
<div class="statistics-display">
  <p id="server">TBD's serve</p>
  <br>
  <div class="Table">
    <!-- <div class="Title">
      <p>Game Score</p>
    </div> -->
    <div class="Heading">
      <div class="Col1Row1Cell">
        <p></p>
      </div>
      <div class="Cell">
        <p>Set</p>
      </div>
      <div class="Cell">
        <p>Game</p>
      </div>
      <div class="Cell">
        <p>Points</p>
      </div>
      <div class="Cell">
        <p>Tie Points</p>
      </div>
    </div>
    <div class="Row">
      <div class="Col1Cell">
        <p>Boomer</p>
      </div>
      <div class="Cell">
        <p id="b_sets">0</p>
      </div>
      <div class="Cell">
        <p id="b_games">0</p>
      </div>
      <div class="Cell">
        <p id="b_pts">0</p>
      </div>
      <div class="Cell">
        <p id="b_t_pts">0</p>
      </div>
    </div>
    <div class="Row">
      <div class="Col1Cell">
        <p>Player</p>
      </div>
      <div class="Cell">
        <p id="p_sets">0</p>
      </div>
      <div class="Cell">
        <p id="p_games">0</p>
      </div>
      <div class="Cell">
        <p id="p_pts">0</p>
      </div>
      <div class="Cell">
        <p id="p_t_pts">0</p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block selections %}
<div class="selections">
  <div class="stepper">
    <label for="level">Level:</label>
    <button type="button">–</button>
    <input type="number" id="level-stepper" name="level" value={{level_dflt}} min={{level_min}} max={{level_max}} step={{level_step}} readonly>
    <button type="button">+</button>
  </div>
</div>
 {% endblock %}

{% block control %}
<div class="start-stop">
  <button type="button" id="pause-resume" class="pause-resume-button resume">
  </button>
  <button type="submit" onclick="window.location.href='{{ url_for('game_options') }}';">
    <img src="/static/stop.png">
  </button>
  <!-- <button type="button" id="test">Test</button> -->
</div>
{% endblock %}
      
{% block page_specific_js %} 
<script src="/static/js/pause_resume.js"></script>
<script src="/static/js/number-picker-2.js"></script>
{% endblock %} 
