{% extends "layouts/base.html" %}

{%- block stats %} 
<div class="statistics-display">
  <p class="para-nomargin" id="server" style="margin-bottom:30px;">TBD's serve</p>
  <table class="Table">
    <tr>
      <td class="corner"></td>
      <td class="ColHeading">Boomer</td>
      <td class="ColHeading">Player</td>
    </tr>
    <tr>
      <td class="RowHeading">Set</td>
      <td id="b_sets">0</td>
      <td id="p_sets">0</td>
    </tr>
    <tr>
      <td class="RowHeading">Game</td>
      <td id="b_games">0</td>
      <td id="p_games">0</td>
    </tr>
    <tr>
      <td class="RowHeading">Points</td>
      <td id="b_pts">0</td>
      <td id="p_pts">0</td>
    </tr>
    <tr>
      <td class="RowHeading">Tie Points</td>
      <td id="b_t_pts">0</td>
      <td id="p_t_pts">0</td>
    </tr> 
  </table>
</div>
{%- endblock %} 

{%- block selections %}
<div class="selections_45percent">
  <div class="stepper">
    <label for="level">Level:</label>
    <button type="button">–</button>
    <input type="number" id="level-stepper" name="level" value={{level_dflt}} min={{level_min}} max={{level_max}} step={{level_step}} readonly>
    <button type="button">+</button>
  </div>
</div>
{%- endblock %}

{%- block control %}
<div class="start-stop">
  <button type="button" id="pause-resume" class="pause-resume-button resume">
  </button>
  <button type="submit" class="start-stop.stop" onclick="window.location.href='{{ url_for('blueprint_core.done') }}';">
    <img src="/static/stop.png">
  </button>
  <br>
  <br>
  <button type="button" id="game_help_button">
    <img src="/static/help.png">
  </button>
</div>
{%- endblock %}

{%- block page_specific_styles %} 
  <link rel="stylesheet" href="/static/css/tables.css">
  <link rel="stylesheet" href="/static/css/number-picker-2.css">
{%- endblock %} 

{%- block page_specific_js %} 
  <script src="/static/js/number-picker-2.js" defer ></script>
  <script src="/static/js/pause_resume.js" defer></script>
  <script src="/static/js/game_help.js" defer></script>
{%- endblock %} 
