{% extends "layouts/base.html" %}
{% block stats %}
  <div class="statistics-display">
    <br>
  </div>  
{% endblock %} 

{%- block selections %}
<form method="post" action="{{url_for_post}}">
  <div class="selections_90percent">
    {%- for key,item in radio_options.items() %}
      <fieldset class="radio-slider-buttons">
      <label for="{{key}}">{{item['legend']}}:</label>
        {%- for button in item['buttons'] %}
        <input type="radio" id="{{key}}_{{button['label']}}" name="{{key}}" value={{button['value']}} {%- if button['checked'] is defined %} checked{% endif %}>
          <label for="{{key}}_{{button['label']}}">{{button['label']}}</label>
        {%- endfor %}
      </fieldset>
    {%- endfor %}
  </div>
<!-- 
      <div class="stepper">
      <label for="point_delay_stepper">Delay:</label>
      <button type="button">–</button>
      <input type="number" id="point_delay_stepper" name="point_delay" value={{point_delay_dflt}} min={{point_delay_min}}
        max={{point_delay_max}} step={{point_delay_step}} readonly>
      <button type="button">+</button>
      <p>After Point</p>
    </div>
 -->
{% endblock %}

{%- block control %}
  <!-- <button type="submit" class="submit-button">Set</button> -->
  <div class="start-stop">
    <button type="submit">
      <img src="/static/start.png">
    </button>
  </div>
</form>
{%- endblock %}
