{% extends "layouts/base.html" %}
{% block stats %}
  <div class="statistics-display">
    <br>
  </div>  
{% endblock %} 

{%- block selections %}
<form method="post" action="{{url_for_post}}">
  <div class="selections_90percent">
    {%- if radio_options is defined %}
      {%- for fieldset in radio_options %}
        <fieldset class="radio-slider-buttons" id="{{fieldset['name']}}"{%- if fieldset['disabled'] is defined %} disabled {%- endif %}>
          <legend>{{fieldset['legend']}}:</legend>
            {%- for button in fieldset['buttons'] %}
              <input type="radio" id="{{fieldset['name']}}_{{button['label']}}" name="{{fieldset['name']}}" value={{button['value']}}
                {%- if button['disables'] is defined %} data-disables_field="{{button['disables']}}" {%- endif %}
                {%- if button['checked'] is defined %} checked{%- endif %}>
              <label for="{{fieldset['name']}}_{{button['label']}}">{{button['label']}}</label>
            {%- endfor %}
        </fieldset>
      {%- endfor %}
    {%- endif %}
  </div>
<!-- 
      <div class="stepper">
      <label for="point_delay_stepper">Delay:</label>
      <button type="button">–</button>
      <input type="number" id="point_delay_stepper" name="point_delay" value={{point_delay_dflt}} min={{point_delay_min}}
        max={{point_delay_max}} step={{point_delay_step}} readonly>
      <button type="button">+</button>
      <p>After Point</p>
    </div>
 -->
{% endblock %}

{%- block control %}
  <!-- <button type="submit" class="submit-button">Set</button> -->
  <div class="start-stop">
    <button type="submit">
      <img src="/static/start.png">
    </button>
  </div>
</form>
{%- endblock %}

{%- block page_specific_styles %} 
   <link rel="stylesheet" href="/static/css/radio-slider.css">
{%- endblock %} 