{% extends "layouts/base.html" %}

{%- block selections %}
<form method="post" action="{{url_for_post}}"{%- if post_param|length > 0 %}?{{post_param['name']}}={{post_param['value']}}{%- endif %}>
  <div class="selections_90percent">
    <div id="placeHolder"> </div>
    <fieldset id="container" class="radio-text-buttons">
      {%- for choice in choices %}
        {%- if filters|length > 0 %}
      <input type="radio" id="{{choice['id']}}" name="choice_id" value="{{choice['id']}}" 
        {% for filter in filters %}{{filter}}="{{choice['filter_values'][loop.index-1]}}"{% endfor %}>
      <label for="{{choice['id']}}" {% for filter in filters %}{{filter}}="{{choice['filter_values'][loop.index-1]}}"{% endfor %}
        >{{choice['title']}}</label>
        {%- else %}
      <input type="radio" id="{{choice['id']}}" name="choice_id" value="{{choice['id']}}">
      <label for="{{choice['id']}}">{{choice['title']}}</label>
        {%- endif %}
      {% endfor %}
    </fieldset>
  </div>
{%- endblock %}

{%- block control %}
  <div class="start-stop">
    <button type="submit">
      <img src="/static/start.png">
    </button>
    {%- if enable_edit_button is defined %}
      <button type="submit" name="Edit"><img src="/static/edit.png"></button>
    {%- endif %}
    {%- if enable_copy_button %}
      <button type="submit" name="Copy"><img src="/static/copy.png"></button>
    {%- endif %}
  </div>
</form>
{%- endblock %}