<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boomer-Control: Settings</title>
    <link rel="stylesheet" type="text/css" href="/static/boomer.css">
  </head>
  <body>
    <div class="container">
      {{ generated_header }}
      <div class="section">
        <form action = "{{ url_for('setting') }}" method = "post">
          <div class="statistics-display">
            <br>
          </div>  
          <div class="selections">
            <divs">
              <fieldset>
                <label>
                  <input type="radio" name="grunts" value=1 checked/>On
                </label>
                <label>
                  <input type="radio" name="grunts" value=0 />Off
                </label>
              </fieldset>
            </div>
          </div>
          <div  class="start-stop">
            <button type="submit" >
              <img src="/static/save.png">
            </button>
          </div>
        </form>
      </div>
      {{ generated_footer }}
<!-- 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

      <script type="text/javascript" charset="utf-8">
      // keep the connection open
        var socket = io();
      </script>
 -->
  </body>
</html>
