[Unit]
Description=browser-launch-on-startup
After=network-online.target

[Service]
WorkingDirectory=/home/pi/browser_working_dir
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
ExecStart=/usr/bin/chromium-browser --app="10.0.1.7:1111" -full-screen

[Install]
WantedBy=multi-user.target