
* {
  font-family: sans-serif;
  color: white;
}

body {
  font: 32px Arial,sans-serif; 
  margin: 2px;
  background-color: black;
}
.container {
  background: grey;
}
.header {
  margin: 0px;
  background-color: #555758;
}
.header-icon, .header-h1 {
  display: inline-block;
  vertical-align: middle;
}
.header-icon {
  padding: 4px 4px;
}
.header-h1 {
  padding: 4px 4px;
}
.nav, .section {
  padding: 20px;
  min-height: 500px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
.nav {            
  width: 18%;             
  background: #acb3b9;            
}
.section {
  width: 78%;
}

/* vertical-align: middle; */
.center-choices, .start-stop {
  display: inline-block;
}
.center-choices {
  width: 60%;            
}
.start-stop {
  width: 30%;        
}

.footer-left, .footer-center, .footer-right {
  display: inline-block;
  margin: 0px;
  width: 32%;
  background: #555758;            
}
.footer-left {
  text-align: left;
}
.footer-center {
  background: #acb3b9;            
}
.footer-right {
  text-align: right;
}

/* used to select game types
/* HIDE RADIO */
.radio-image-buttons input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
  display: inline;
}
.radio-image-buttons fieldset {
  padding: 2px;
  border: 100px;
  border-color: red;
  background: #575656;
}
.radio-image-buttons input[type=radio] + img {
   height:100px;
   padding: 4px 4px;
   display: inline; 
}
.radio-image-buttons input[type=radio] +label {
  display: inline; 
}
.radio-image-buttons input[type=radio]:checked + img {
  outline: 12px solid lightgreen;
}

/* used to make numbers large on level, elevation, etc */
input[type='number']{
  font: 32px Arial,sans-serif; 
  height: 72px !important;
  padding: 10px 10px;
  background-color: black; 
}

.block_b {
  width: 30vw;
  font-size: 4vw;
  color: white;
  background: #555555;
  padding: 1vw;
  border: 1vw solid #494949;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
/* hover doesn't work on ios/android */
.block_b:hover {
  background-color: #ddd;
  color: black;
  border-radius: 50px;
  border-color: #494949;
}

/* for drill and workout selection */
.radio-text-buttons {
  margin: 10px;
}
.radio-text-buttons input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio-text-buttons input[type='radio'] + label{   
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
}
.radio-text-buttons fieldset {
  padding: None;
  border: None;
}
.radio-text-buttons label {
  display: inline-block;
  text-align: left;
  width: 300px;
  height: 50px;
  font-size: 32px;
  background-color: #555555;
  padding: 10px 20px;
  border: 4px solid #494949;
  border-radius: 8px;
}
.radio-text-buttons input[type="radio"]:focus + label {
  border: 2px dashed #444;
}
.radio-text-buttons input[type="radio"]:checked + label {
  background-color: black;
  border-radius: 20px;
  border-color: #494949;
}



@media screen and (max-width: 600px) {
    .block_b {
        width: 80vw;
        font-size: 8vw;
    }
}

/*
.nav ul {
  list-style: none; 
  line-height: 24px;
  padding: 0px; 
}
.nav ul li a {
  color: #333;
}    
*/