
:root {
  --icon-button-size: 120px;
}
/* reset margins */
/*
html, body, div, span, h1, img, ol, ul, li,
fieldset, form, label, legend, footer, header,
nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
* {
  font-family: sans-serif;
  color: white;
}

body {
  font: 40px sans-serif; 
  background-color: black;
}
.container {
  background: grey;
}
.header {
  background-color: #555758;
  max-height: 90px;
}
.header-icon, .header-h1 {
  display: inline-block;
  width: 7%;
}
.header-icon {
  margin: 10px;
}
/* removed:
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
*/
.header-h1 {
  width: 80%;
  text-align: center;
}

.para-nomargin {
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 10px;
  /* margin-inline-end: 5px; */
}

/* min-height: 500px; */
.section {
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
/* touchscreen height is 800; header=90; footer=50; -> section is 640 */
.section {
  width: 100%;
  min-height: 636px;
}

/* vertical-align: middle; */
.statistics-display, .selections, .selections-class, .start-stop, .selections_45percent, .selections_90percent, .selections_100percent {
  display: inline-block;
  vertical-align: top;      
}
.statistics-display {
  width: 50%;       
}
.selections_45percent {
  width: 39%;            
}
.selections_90percent {
  width: 88%;
}
.selections_100percent {
  width: 100%;
}
.start-stop {
  width: 9%;  
}
.start-stop button {
  width: var(--icon-button-size);
  height: var(--icon-button-size);
}
.start-stop img {
  width: var(--icon-button-size);
  height: var(--icon-button-size);
}

.footer-left, .footer-center, .footer-right {
  display: inline-block;
  margin: 0px;
  background: #555758;  
  width: 32%;         
  min-height: 50px; 
}
.footer-left {
  text-align: left;
}
.footer-center {
  background: #acb3b9;
}
.footer-right {
  text-align: right;
}

/* what does this do??: display: table */
.pause-resume-button {
  border: 1px;
  border-color: white;
  border-radius: 0%;
}
.pause-resume-button.pause {
  background: url("/static/pause.png") no-repeat 5px center;
  background-size: var(--icon-button-size) var(--icon-button-size);
  height: var(--icon-button-size);
  width: var(--icon-button-size);
}
.pause-resume-button.resume {
  background: url("/static/start.png") no-repeat 5px center;
  background-size: var(--icon-button-size) var(--icon-button-size);
  height: var(--icon-button-size);
  width: var(--icon-button-size);
}

/* used to select game types
/* HIDE RADIO */
.radio-image-buttons input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
  display: inline;
}
.radio-image-buttons fieldset {
  padding: 2px;
  border: 100px;
  border-color: red;
  background: #575656;
}
/* used to have   height:100px; */
.radio-image-buttons input[type=radio] + img {
  height: var(--icon-button-size);
  padding: 4px 4px;
  display: inline; 
}
.radio-image-buttons input[type=radio] +label {
  display: inline; 
}
.radio-image-buttons input[type=radio]:checked + img {
  outline: 12px solid lightgreen;
}

.block_b {
  width: 25vw;
  font-size: 4vw;
  padding: 1vw;
  border: 1vw solid #494949;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.block_b:enabled {
  color: white;
  background: #555555;
}
.block_b:disabled {
  color: #555555;
  background-color: #333333;
}

/* for drill and workout selection */
/*
.radio-text-buttons {
  margin: 10px;
}
*/
.radio-text-buttons input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}
/*
.radio-text-buttons input[type='radio'] + label{   
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
}
.radio-text-buttons fieldset {
  padding: None;
  border: None;
}
*/
.radio-text-buttons label {
  display: inline-block;
  text-align: left;
  height: 50px;
  width: 320px;
  font-size: 32px;
  padding: 0px 20px;
  margin: 5px 0px;
  background-color: #555555;
  border: 4px solid #494949;
  border-radius: 8px;
}
.radio-text-buttons input[type="radio"]:checked + label {
  background-color: black;
  border-radius: 20px;
  border-color: #494949;
}
/*
.radio-text-buttons input[type="radio"]:focus + label {
  border: 2px dashed #444;
}
*/

.submit-button {
  margin: 8px;
  padding: 2px;
  border: 4px solid #494949;
  /* height: 48px; */
  /* width: 192px; */
  font-size: 48px;
  background-color: #555555;
  color: white;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .block_b {
        width: 80vw;
        font-size: 8vw;
    }
}
