
:root {
  --icon-button-size:120px;
}
/* reset margins */
/*
html, body, div, span, h1, img, ol, ul, li,
fieldset, form, label, legend, footer, header,
nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
* {
  font-family: sans-serif;
  color: white;
}

body {
  font: 40px sans-serif; 
  background-color: black;
  padding: 0px;
  /*overflow: hidden;*/
}
.container {
  background: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 800px;
}
.header {
  background-color: #555758;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-icon {
  width: 6%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  box-sizing: border-box;
}

.header-h1 {
  width: 84%;
  text-align: center;
  height: 90px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
  display: flex;
}

.para-nomargin {
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 10px;
  font: 32px sans-serif; 
  /* margin-inline-end: 5px; */
}

/* min-height: 500px; */
.section {
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
/* touchscreen height is 800; header=90; footer=50; -> section is 640 */
.section {
  width: 100%;
  min-height: 636px;
}

.section {
  height: 620px; /* 800px total - 90px header - 90px footer */
  overflow-y: auto;
  padding: 10px;
}

/* vertical-align: middle; */
.statistics-display, .selections, .selections-class, .start-stop, .selections_45percent, .selections_90percent, .selections_100percent {
  display: inline-block;
  vertical-align: top;      
}
.statistics-display {
  /* width: 50%;        */
  width: 610px;       
}
.selections_45percent {
  /* width: 39%;             */
  width: 464px;            
}
.selections_90percent {
  width: 88%;
}
.selections_100percent {
  width: 100%;
}

.footer-left, .footer-center, .footer-right {
  background: #555758;  
  width: 33%;         
  height: 50px;
  box-sizing: border-box;
  padding: 2px 15px 0px 15px;
}
.footer-left {
  text-align: left;
}
.footer-center {
  background: #acb3b9;
  margin: auto;
}
.footer-right {
  text-align: right;
}

.footer {
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* could not set width using calc(var(--icon-button-raw) + 8)
  --> so change the width if icon-button-size is changed! */
.start-stop {
  /* width: 9%;   */
  width: 132px;
}

.start-stop button {
  border: 1px;
  border-color: white;
  border-radius: 0%;
  background: transparent;
}

.start-stop img {
  width: var(--icon-button-size);
  height: var(--icon-button-size);
}

.pause-resume-button {
  border: 1px;
  border-color: white;
  border-radius: 0%;
}
.pause-resume-button.pause {
  background: url("/static/pause.png") no-repeat 5px center;
  background-size: var(--icon-button-size) var(--icon-button-size);
  height: var(--icon-button-size);
  width: var(--icon-button-size);
}
.pause-resume-button.resume {
  background: url("/static/start.png") no-repeat 5px center;
  background-size: var(--icon-button-size) var(--icon-button-size);
  height: var(--icon-button-size);
  width: var(--icon-button-size);
}

/* used to select game types
/* HIDE RADIO */
.radio-image-buttons input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
  display: inline;
}
.radio-image-buttons fieldset {
  padding: 2px;
  border: 100px;
  border-color: red;
  background: #575656;
}
/* used to have   height:100px; */
.radio-image-buttons input[type=radio] + img {
  height: var(--icon-button-size);
  padding: 4px 4px;
  display: inline; 
}
.radio-image-buttons input[type=radio] +label {
  display: inline; 
}
.radio-image-buttons input[type=radio]:checked + img {
  outline: 12px solid lightgreen;
}

.block_b {
  width: 21vw;
  font-size: 4vw;
  padding: 1vw;
  border: 1vw solid #494949;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.block_b:enabled {
  color: white;
  background: #555555;
}
.block_b:disabled {
  color: #555555;
  background-color: #333333;
}

/* for drill and workout selection */
.radio-text-buttons input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0px;
  margin: 0px;
}
.radio-text-buttons label {
  display: inline-block;
  height: 44px;
  width: 480px;
  padding: 6px 0px;
  margin: 12px 0px;
  text-align: left;
  vertical-align: middle;
  font-size: 32px;
  White-space: nowrap;
  background-color: #555555;
  border: 4px solid #494949;
  border-radius: 8px;
}
.radio-text-buttons input[type="radio"]:checked + label {
  background-color: black;
  border-radius: 20px;
  border-color: #494949;
}

.submit-button {
  margin: 8px;
  padding: 2px;
  border: 4px solid #494949;
  /* height: 48px; */
  /* width: 192px; */
  font-size: 48px;
  background-color: #555555;
  color: white;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .block_b {
        width: 80vw;
        font-size: 8vw;
    }
}
