/*
  ? is the following necessary?
  *,
  *:before,
  *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  }
*/

/* The important part */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	height: auto;
}

  /* the following was from the actual css file */
  /*
	display: inline-block;
	overflow: visible;
	height: 2.1em;
	background: #fff;
	padding: 1px;
	line-height: 10px;
  */
.stepper {
	border: 1px solid #eee;
}
/*
.stepper label {
	font-size: 2em;
	font-weight: bold;
}
*/
/* used to have:
	width: 2em;
	height: 72px;
  padding: 10px 10px;
*/
.stepper input {
	font-size: 2em;
	font-weight: bold;
	width: 1.8em;
	text-align: center;
	border: 1px solid #eee;
	background: transparent;
	color: black;
}
/* used to have padding: 0.2em !important; */
.stepper button {
	font-size: 2em;
	width: 1.1em;
	font-weight: bold;
	border: 3px solid #eee;
	color: black;
}

/* the following was the original */
/*
.stepper {
	border: 1px solid #eee;
	display: inline-block;
	overflow: visible;
	height: 2.1em;
	background: #fff;
	padding: 1px;
}

.stepper input {
	width: 3em;
	height: 100%;
	text-align: center;
	border: 0;
	background: transparent;
	color: #000;
}

.stepper button {
	width: 1.4em;
	font-weight: 300;
	height: 100%;
	line-height: 0.1em;
	font-size: 1.4em;
	padding: 0.2em !important;
	background: #eee;
	color: #333;
	border: none;
}
*/