/* The important part */
/*[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	height: auto;
}
*/
/* Hide the spin buttons */
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.stepper {
	border: 1px solid #eee;
	/* display: inline-block;  <--- this screws up using steppers in a table */
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 10px;
	font-size:35px;
}

.stepper label {
	font-size:28px;
}

.stepper input {
	font-size: 55px;
	font-weight: bold;
	width: 120px;
	text-align: center;
	border: 0px solid #eee;
	background: transparent;
	padding: 0px;
	color: black;
	user-select: none;
	pointer-events: none;
	caret-color: transparent;
}
/* used to have padding: 0.2em !important; */
.stepper button {
	font-size: 2em;
	width: 1.1em;
	font-weight: bold;
	border: 0px solid #eee;
	color: black;
}

/* the following was the original */
/*
.stepper {
	border: 1px solid #eee;
	display: inline-block;
	overflow: visible;
	height: 2.1em;
	background: #fff;
	padding: 1px;
}

.stepper input {
	width: 3em;
	height: 100%;
	text-align: center;
	border: 0;
	background: transparent;
	color: #000;
}

.stepper button {
	width: 1.4em;
	font-weight: 300;
	height: 100%;
	line-height: 0.1em;
	font-size: 1.4em;
	padding: 0.2em !important;
	background: #eee;
	color: #333;
	border: none;
}
*/
