.Table {
  display: table;
  /* font-size: smaller; */
}

.Table thead th {
  position: sticky;
  top: 0;
  background-color: #555758;
}

.Title {
  /*display: table-caption;*/
  text-align: center;
  font-weight: bold;
  /* line-height: 10px; */
}

.Heading {
  /*display: table-row;*/
  font-weight: bold;
  text-align: center;
  line-height: 0.9;
  padding-left: 5px;
  padding-right: 5px;
}
.Row {
  /*display: table-row;*/
}
.Col1Row1Cell {
  /*display: table-cell;*/
  border: none;
}
.Col1Cell {
  /*display: table-cell;*/
  border: solid;
  border-width: thin;
  text-align: right;
}
.Cell
{
  /*display: table-cell;*/
  border: solid;
  border-width: thin;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #010101;
  font-size: 0.8em;
}